@import "App.scss";

.forecastItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  .time {
    font-weight: bold;
    font-size: 0.9rem;
    width: 10%;
    transition: margin-left 0.3s ease;

    @media (min-width: $screen-phones) {
      margin-left: 10px;
    }

    @media (min-width: $screen-tablets) {
      margin-left: 15px;
    }

    @media (min-width: $screen-laptops) {
      margin-left: 20px;
    }
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .temperature {
      font-size: 0.85rem;
      color: gray;
    }
  }

  .weather {
    flex: 1;
    text-align: right;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: capitalize;
  }
}
