@import "App.scss";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f7fa;
  flex-grow: 1;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 24px;
      transition: width 0.3s ease;
      width: 100%;
      max-width: 700px;

      @media (min-width: $screen-phones) {
        width: 80%;
      }

      @media (min-width: $screen-tablets) {
        width: 70%;
      }

      @media (min-width: $screen-laptops) {
        width: 60%;
      }

      .location {
        font-size: 22px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 80%;
        cursor: pointer;
      }
    }
  }

  .mainContent {
    min-width: 100%;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
  }
}
