.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  .input {
    width: calc(100% - 70px - 1rem);
  }

  .button {
    height: 36px;
    width: 70px;
    text-transform: none !important;
  }
}

.error {
  color: red;
  font-size: 14px;
  padding-top: 5px;
}
