$screen-oldPhones: 320px; // extra small devices (old phones)
$screen-phones: 480px; // small devices (phones)
$screen-tablets: 768px; // medium devices (tablets)
$screen-laptops: 1024px; // large devices (small laptops)
$screen-desktops: 1280px; // extra large (desktops)
$screen-screens: 1440px; // even larger (big screens)
$screen-bigScreens: 1600px; // extra extra large (large desktops)
